@import "../../../../src/app/styles/variables";
.hero {
  margin-bottom: 128px;
}
.heroContainer {
  height: 648px;
  border-radius: 24px;
  background-image: linear-gradient(180deg, #E8E8E8 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%), url("/images/cover.jpg");
  background-position: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.titles {
  text-align: center;
  width: 60%;
  color: $neutral1;

}

.mb20 {
  margin-bottom: 20px;
}
.search {

}
.searchContainer {

}
.searchInput {

}