@import "./src/app/styles/variables";
.checkbox {
  height: 24px;
  width: 24px;
  margin-right: 12px;
  outline: none;
  appearance: none;
  border-radius: 4px;
  background: $neutral8;
  &:checked {
    background: url("/images/check.svg") no-repeat, $primary1;
    background-position: 50% 50%;
  }
}